*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;

    border-bottom: 1px solid #ccc;
}

.logo{
    font-size: 28px;
    font-weight: bold;
}

nav a{
    text-decoration: none;
    color: black;

    margin: 0 10px;
}

.buttons button{
    padding: 8px 15px;

    border: 1px solid black;

    cursor: pointer;
}

.titulo{
    text-align: center;
    
    margin-top: 40px;
}

.container{
        display: flex;

        justify-content: center;

        gap: 40px;

        margin-top: 40px;
}


.formulario{
    width: 400px;

    border: 1px solid #ccc;

    padding: 20px;

    border-radius: 10px;
}

form{
    display: flex;
    flex-direction: column;
}

input,
textarea{
    margin-top: 15px;

    padding: 10px;

    border: 1px sokid #ccc;

    border-radius: 5px;
}

textarea{
    height: 120px;

    resize: none;
}

form button{
    margin-top: 20px;

    padding: 12px;

    background-color: black;
    color: white;

    border: none;

    border-radius: 5px;

    cursor: pointer;
}

.contatos{
    width: 300px;

    border: 1px solid #ccc;

    padding: 20px;

    border-radius: 10px;
}

.card{
    border: 1px solid #ddd;

    padding: 15px;

    border-radius: 8px;
}

footer{
    margin-top: 50px;

    padding: 20px;

    border-top: 1px solid #ccc;

    display: flex;

    justify-content: space-around;
}